reflex>=0.7.10.post1
supabase>=1.0.0
openai>=0.27.0
discord.py-self

httpx
# Google Calendar
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Instagram
instagrapi
Pillow>=8.1.1

# Twitter
twikit
